.audioPrompt {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #39a3d4;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #080bce;
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(1px);
}

.muted {
  background-color: #666;
}

.muted:hover {
  background-color: #777;
}



/* Thêm animation khi nút xuất hiện */
@keyframes slideIn {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.audioPrompt {
  animation: slideIn 0.3s ease-out;
}